doctype html
html(lang="en")
  head
    title= Bootstrap

  body
    .result
      p List of the Words :
    script(type='text/javascript' src="assets/js/require.js")
    script(type='text/javascript').
      requirejs.config({
        waitSeconds: 0,
        baseUrl: './js/'
      });
      require(["main"], function(main){});
