doctype html
html(lang="en")
  head
    title= Bootstrap

  body
    script(type='text/javascript' src="assets/js/require.js")
    script(type='text/javascript').
      requirejs.config({
        waitSeconds: 0,
        baseUrl: './js/'
      });
      require(["bootstrap"], function(Bootstrap){
        new Bootstrap();
      });
